.footer {
    background-color: rgb(0, 123, 255);
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .footer.visible {
    opacity: 1;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-content ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-content ul li:last-child {
    margin-right: 0;
  }
  
  .footer-content ul li a {
    color: white;
    text-decoration: none;
  }
  